 .background {
  background-image: url(https://www.publicdomainpictures.net/pictures/210000/velka/damask-vintage-background-grey-1486478867uKS.jpg);`,
  background-repeat: 'no-repeat';
  height: 100%;
  background-position: 'center';

}

.desktopSizeDiv{
  display: flex !important;
}

.mobileSizeDiv{
 display: none !important;
}

@media (max-width: 768px){
  .mobileSizeDiv {
    display: flex !important;
  }
  .desktopSizeDiv {
    display: none !important;
  }
}
